@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
body {
    font-family: 'Alegreya Sans', sans-serif;
    
}
/* FontAwesome for working BootSnippet :> */

#sendbtn{
    margin: 20px;
    background-color: white;
}

.bg {
    width: 100%;
  }
  
  /*donate options start*/
  .options {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .options .row {
    margin: 50px;
  }
  
  .circle {
    padding-top: 50px;
    text-align: center;
    font-size: 70px;
    margin: 100px;
    height: 200px;
    width: 50px;
    border: 2px solid black;
    border-radius: 200px;
  }
  
  .circle:hover {
    background-color: black;
    font-size: 110px;
    color: white;
    padding-top: 25px;
    transition-duration: 0.3s;
  }

  .cursPointer:hover{
      cursor: pointer;
  }
  
  /*donate options end*/
  /*monthly donation start*/
  
  .btn1 {
    background-color: white;
    font-size: 30px;
    border-radius: 50px;
    margin: 40px;
    width: 300px;
    height: 80px;
  }

  .btn1:hover{
      transform: translateY(-10px);
      transition: all .25s linear;
      /* background-color: rgb(188, 101, 206); */
      box-shadow: 8px 5px 15px black;
  }
  
  .monthly-donation .row {
    margin: 50px auto;
    width: 100%;
    height: 350px;
  }
  
  .monthly-donation .row {
    background-color: rgb(156, 204, 245);
  }
  
  .monthly-donation .row .end {
    padding: 20px;
  }
  
  .monthly-donation .row .beg {
    padding: 50px;
    padding-left: 390px;
  }
  .monthlyd {
    height: 250px;
    width: 250px;
  }
  
  /*monthly donation end*/
  
#team {
    background: #eee !important;
    margin-top:30px;
}
.navbar{
    padding-top: 30px;
    padding-bottom: 30px;
    position:fixed;
    width:100%;
    z-index: 1000000;
    top:0;
}
.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}

section {
    padding: 100px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #007b5e !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 300px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 300px;
  margin-left:0px;
}
:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --varyDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
}

body {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    background-color: var(--veryLightGray);
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

h1:first-of-type {
    font-weight: var(--weight1);
    color: var(--varyDarkBlue);

}

h1:last-of-type {
    color: var(--varyDarkBlue);
}

@media (max-width: 400px) {
    h1 {
        font-size: 1.5rem;
    }
}

.header {
    text-align: center;
    line-height: 0.8;
    margin-bottom: 50px;
    margin-top: 100px;
}

.header p {
    margin: 0 auto;
    line-height: 2;
    color: var(--grayishBlue);
}


.box p {
    color: var(--grayishBlue);
}

.box {
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
    padding: 30px;
    margin: 20px;  
}

img {
    float: right;
}

@media (max-width: 450px) {
    .box {
        height: 200px;
    }
}

@media (max-width: 950px) and (min-width: 450px) {
    .box {
        text-align: center;
        height: 180px;
    }
}

.cyan {
    border-top: 3px solid var(--cyan);
}
.red {
    border-top: 3px solid var(--red);
}
.blue {
    border-top: 3px solid var(--blue);
}
.orange {
    border-top: 3px solid var(--orange);
}

h2 {
    color: var(--varyDarkBlue);
    font-weight: var(--weight3);
}

@media (min-width: 950px) {
    .row1-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .row2-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box-down {
        position: relative;
        top: 150px;
    }
    .box {
        width: 20%;
     
    }
    .header p {
        width: 30%;
    }
    
}
@media (max-width: 567em) {
    body {
      margin-bottom: 700px;
    }
    .footer {
      height: 450px;
    }
}
footer {
  padding-top: 30px;
  background-color: #292c2f;
  color: #bbb;
}

footer a {
  color: #999;
  text-decoration:none;
}

footer a:hover, footer a:focus {
  color: #aaa;
  text-decoration:none;
  border-bottom:1px dotted #999;
}

footer .form-control {
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: #d1d2d2;
    padding: 0.7em 1em;
}

.levi{
    overflow: hidden;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translateY(0px);
    animation: float 3s ease-in-out infinite;
}

@keyframes float{
    0%{
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.6);
transform: translateY(0px); 
    }
    50%{
box-shadow: 0px 25px 15px 0px rgba(0, 0, 0, 0.2);
transform: translateY(-20px); 
    }
    100%{
        box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.6);
transform: translateY(0px); 
    }
}
/* class="navbar navbar-dark navbar-expand-md py-0 fixed-top" */